<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/cart.css" />
    <script defer src="../js/cart.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a id="products-nav" href="./products.html">Products</a></li>
          <li><a id="cart-nav" href="./cart.html">Cart</a></li>
          <li><a id="orders-nav" href="./orders.html">Orders</a></li>
          <li><button id="logout">Logout</button></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="cart"></div>
      <div class="checkout">
        <button id="checkout-button">Checkout</button>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
